<h1>Figures Form</h1>

<form action="/figures/:id" method="post">
  <p>Name: <input type="text" id="figure_name" name="figure[name]"></p>

  <p> Please check a box below if existing title:</p>
  <% Title.all.each do |title| %>
    <input id="<%= title.name %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"> <%= title.name %><br>
  <% end %>
  Create New Title: <br><input type="text" name="title[name]">

  <p>Please check a landmark below:</p>
  <% Landmark.all.each do |landmark| %>
    <input id="<%= landmark.name %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"> <%= landmark.name %><br>
  <% end %>
  <p>or create a new landmark:</p>
  <p>Name: <input type="text" name="landmark[name]">
  Year: <input type="text" name="landmark[year_completed]"></p>

  <input type="submit" value="Create New Figure">
</form>
